<%- include("navbar")-%>
<div class="container-fluid item">
<div class="item-container">
    <div class="flex-column sticky-top">
    <img src="img/German1.jpg" alt="itempic" class="item-img img-fluid">
    <form action="/buynow">
        <button class="btn btn-warning btn-lg big-button item-cart-button">Add to cart</button>
        <button class="btn btn-success btn-lg big-button item-buy-button">Buy Now</button>

</form>

</div>
    <div class="item-detail ">
    <p>Dogs Desire</p> 
    <p>Lorem ipsum dolor sit.</p>
    <h2>Lorem, ipsum dolor consectetur adipisicing elit.</h2>
    <h6>Special Price</h6>
    <div class="price-detail">₹1,517
        <p class="text-decoration-line-through d-inline">₹4999</p>
        <h6 class="d-inline">69% off</h6></div>
        <div class="rating">
            3.4⭐
        </div>
        <div class="available-offers">
           <h4>Available offers</h4>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="product-details">
            <h3>Product Details</h3>
         <div class="d-flex flex-row">
             <div>
                 <p>Name</p>
                 <p>Gender</p>
                 <p>Age</p>
                 <p>Size</p>
                 <p>Breed</p>
                 <p>Product-type</p>
                </div>
                <div class="details">
                    <p>lorem</p>
                    <p>ipsum</p>
                    <p>32</p>
                    <p>pie</p>
                    <p>Alpha</p>
                    <p>Delta</p>
                </div>
         </div>


        </div>
    </div>

</div>
</div>   
</div>
<hr>
<div class="review text-center my-5">
    <h2>Review</h2>
</div>
    <%- include("testimonial") -%>
<%-include("footer")-%>